.sidebar {
    width: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo temporal */
    color: white;
    padding: 10px;
    position: fixed;
    left: -250px;
    top: 0;
    transition: left 0.3s ease, width 0.3s ease;
}


/* Estilo para el sidebar cuando está abierto */
.sidebar.open {
    left: 0; /* Lo traemos de vuelta a la pantalla */
    width: 250px; /* Lo hacemos visible con un ancho de 250px */
}
